<h1 class="container mt-2">
  List of all movies
</h1>

<hr>

<div>
  <%= link_to "Add a new movie", new_movie_path %>
</div>

<hr>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-md-3">
      <%= render partial: "movies/movie_card", locals: { movie: movie } %>
    </div>
  <% end %>
</div>
